$colors: (
primary:        #14396C,
secondary:      #4BABEC,
success:        #8ED696,
info:           #78B0D3,
warning:        #F4A775,
danger:         #FF6961,
light:          #e3eaef,
grey:  		    #868e96,
whitesmoke:     #f7f9f9,
dark:           #111111,
muted:          #98a6ad,
body:           #fafdfb,
font:           #6c757d,
fontdark:       #34395e,
white:          #ffffff,

// Form Control
formcontrol_normal_background:    #fdfdff,
formcontrol_normal_border:        #e4e6fc,
formcontrol_focus_background:     #fefeff,
formcontrol_focus_border:         #95a0f4,

// Utilities
section_title_line: #14396C,
);

$font_family:   'Nunito', 'Segoe UI', arial;
$font_weight:   400;
$font_size:     14px;

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
) !default;

@function color($key) {
    @return map-get($colors, $key);
}

@function color_lighten($key, $amount) {
    @return lighten(map-get($colors, $key), $amount);
}

@function color_darken($key, $amount) {
    @return darken(map-get($colors, $key), $amount);
}

@function to_opacity($color, $opacity) {
    @return rgba(color($color), $opacity);
}
