/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */
.section-header .nav-tabs {
  border-bottom: none !important;
}

.section-header .nav-tabs .nav-link {
  border-bottom: none !important;
}

.sidebar-task:not(.sidebar-show) .main-content {
  padding-left: 30px;
}

.sidebar-task:not(.sidebar-show) .main-footer {
  padding-left: 30px;
}

.sidebar-task:not(.sidebar-show) .main-sidebar {
  left: -250px;
}

.sidebar-task .navbar.main {
  left: 0;
}

.toast::before {
  display: none !important;
}

[btn-back] {
  left: 25px;
  top: 25px;
  position: absolute;
}

.required {
  color: red;
}

.action-column {
  text-align: center;
}

.kv-expand-detail-row > td {
  padding: 0 !important;
  border: 0;
}

.grid-view table tr:not(.kv-expand-detail-row) td:last-child {
  text-align: right;
  white-space: nowrap;
}

.detail-view.table:not(.table-sm):not(.table-md):not(.dataTable) td {
  text-align: left;
  border-top: 1px solid #f6f6f6;
  height: auto;
}

.detail-view .row {
  border: none !important;
}

.pagination {
  float: right;
}

.delete_modal .btn-primary,
.delete_modal.btn-primary.disabled,
body.skin-dark .delete_modal .btn-primary,
body.skin-dark .delete_modal .btn-primary.disabled {
  box-shadow: 0 2px 6px #ccc;
  background-color: #ccc;
  border-color: #ccc;
}

.delete_modal .btn-primary:active,
.delete_modal .btn-primary:hover,
.delete_modal .btn-primary.disabled:active,
.delete_modal .btn-primary.disabled:hover {
  background-color: #bbb !important;
}

body.skin-dark .delete_modal .btn-primary:active,
body.skin-dark .delete_modal .btn-primary:hover,
body.skin-dark .delete_modal .btn-primary.disabled:active,
body.skin-dark .delete_modal .btn-primary.disabled:hover {
  background-color: #bbb !important;
}

.help-block {
  color: #d73627;
}

.modal-open .modal.show {
  opacity: 1;
}

.modal-open .modal.show > .modal-dialog {
  transform: translate(0, 5%);
}

.modal-open .modal-backdrop.fade {
  opacity: 0.4;
}

.navbar {
  position: absolute !important;
}

.modal-header .nav-pills {
  position: absolute;
  right: 51px;
  top: 20px;
}

.modal-header .header-to {
  position: absolute;
  right: 111px;
  top: 7px;
}

#offline.custom-switch {
  padding-left: 0;
}

.page-cover {
  position: relative;
  padding: 1rem 1rem 2rem;
  margin: -20px -23px 0 -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f6f6;
  background-size: cover;
  -webkit-box-shadow: 0 1px 0 rgba(61, 70, 79, 0.125);
  box-shadow: 0 1px 0 rgba(61, 70, 79, 0.125);
}

.page-cover img {
  max-width: 300px;
  height: auto;
}

.detail-view.table:not(.table-sm):not(.table-md):not(.dataTable) td {
  padding: 18px 10px;
}

.card-large-icons {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#shortcut_modal button:focus {
  outline: none;
}

#shortcut_modal button:hover {
  background-color: rgba(200, 200, 200, 0.1);
}

.bootstrap-switch {
  height: 41px;
}

.bootstrap-switch .bootstrap-switch-container {
  height: 41px;
}

#user-map {
  margin: -19px;
}

.form-control::placeholder, .form-control:-ms-input-placeholder, .form-control::-ms-input-placeholder {
  color: #aaa;
}

.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice,
.select2-container--krajee-bs4 .select2-selection--multiple .select2-selection__choice__remove {
  background: #e3eaef;
}

.datetimepicker.dropdown-menu {
  box-shadow: 0 0 30px rgba(9, 6, 6, 0.28);
  border: none;
  width: auto;
}

.datepicker.dropdown-menu {
  box-shadow: 0 0 30px rgba(9, 6, 6, 0.28);
  border: none;
  width: auto;
}

#pjax-dashboard .display-4 {
  font-size: 1.9rem;
}

.detail-view.detail-view-fit td {
  height: fit-content !important;
}

.btn-action {
  margin-left: 5px;
}

.badge.badge-action {
  min-width: 100;
  padding-right: 30px;
}

.badge.badge-action i {
  position: absolute;
  margin-left: 30px !important;
  height: 0px;
  margin-top: -11px;
}

.badge.badge-action span {
  min-width: 56px;
  display: block;
}

.mt-35 {
  margin-top: 35px;
}

.select2-container--krajee-bs4 .select2-selection--single .select2-selection__rendered {
  padding: 3px 0;
}

.select2-selection__rendered img,
.select2-results__option img {
  height: 25px;
  margin-top: -2px;
}

.logo-login {
  width: 90%;
}
.logo-login {
  width: 90%;
}

table th:last-child {
  width: 80px;
}

/*
    Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
    Small devices (landscape phones, 576px and up)
*/
@media (max-width: 411px) {
  .dash .col-3 {
    display: none !important;
  }
  .dash .btn.btn-lg {
    padding: 0.55rem 1rem;
  }
}

@media (min-width: 576px) {
}

/*
    Medium devices (tablets, 768px and up)
    Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {
}

/*
    Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
}

/*
    Extra small devices (portrait phones, less than 576px)
*/
@media (max-width: 575.98px) {
  .section-header-breadcrumb {
    padding-left: 0 !important;
  }
}

/*
    Small devices (landscape phones, less than 768px)
*/
@media (max-width: 767.98px) {
  .dash .card div[class*="col-sm-"] {
    padding: 0;
  }
}

/*
    Medium devices (tablets, less than 992px)
*/
@media (max-width: 991.98px) {
}

/*
    Large devices (desktops, less than 1200px)
*/
@media (max-width: 1199.98px) {
}

/*
    Extra large devices (large desktops)
    No media query since the extra-large breakpoint has no upper bound on its width
    Extra small devices (portrait phones, less than 576px)
*/
@media (max-width: 575.98px) {
}

/*
    Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*
    Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*
    Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*
    Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
}

/*
    Example
    Apply styles starting from medium devices and up to extra large devices
*/
@media (min-width: 768px) and (max-width: 768px) {
  .bracelet {
    display: none;
  }
  .mt-35 {
    margin-top: 21px;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) {
  .bracelet {
    display: none;
  }
  .mt-35 {
    margin-top: 22px;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .mt-35 {
    margin-top: 21px;
  }
}

/* Hide input number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.krajee-default.file-preview-frame .kv-file-content {
  width: 100%;
}
