# Utilize o mod_rewrite para suporte a URL amigável
RewriteEngine on

SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

# Se um diretório ou arquivo existe, usa a requisição diretamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Caso contrário, encaminha a requisição para index.php
RewriteRule . index.php

#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
